* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

body {
    background-color: #000000;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexbetween {
    justify-content: space-between;
}

.flexcontentcenter {
    justify-content: center;
}

.flexspacearound {
    justify-content: space-around;
}

.flexstart {
    justify-content: flex-start;
}

.flexend {
    justify-content: flex-end;
}

.flexcenter {
    align-items: center;
}

.flex_column {
    flex-direction: column;
}

.container {
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: #1a1a1a; */
}



/* ===============banner=========================== */
.banner {
    overflow: hidden;
    width: 100%;
    height: 400px;
    position: relative;
    /* filter: blur(2px); */
}

.banner:after {
    content: "";
    top: 70%;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: rgba(26, 12, 12, 0.526); */
    background: linear-gradient(0deg, black, transparent);
    position: absolute;

}

.banner>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
}

/* ===============title=========================== */
.title {
    width: 100%;
    background: linear-gradient(0deg, black, rgba(0, 0, 255, 0));
    border-bottom: 1px solid white;
    margin-top: 60px;
}

.title h1 {
    line-height: 50px;
    color: white;
    margin-left: 40px;
    letter-spacing: 2px;

}

/* ===============filmss=========================== */
.film_name,
.film_style>ul>li,
.film_view {
    color: white;
    text-align: center;
    margin-top: 9px;

}


.film:hover>.film_img {
    height: 68%;
    transition: 0.5s;


}

.film_style>ul>li:first-child {
    list-style-type: disc;
    color: rgb(43, 250, 43);
}

.film_style>ul>li:last-child {
    color: rgb(255, 172, 28);
    list-style-type: disc;

}

.films {
    width: 100%;
    margin-top: 20px;
}

.film {
    width: 300px;
    overflow: hidden;
    height: 300px;
    background-color: #253033;
    border-radius: 10px;
    margin: 16px;
}

.film_img {
    width: 100%;
    height: 89%;
    overflow: hidden;
}

.film_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.film_name {}

/*=============== menu_personal============== */
.activemenu {
    /* visibility: visible; */
    display: flex !important;
    /* right: 0; */
}

@keyframes menu_move {
    from {
        opacity: 0;
        transform: translate(105%);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }

}

.menu_personal_boss {
    background-color: #00000037;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.566));
    /* visibility: hidden; */
    display: none;
    justify-content: flex-end;

}

.menu_personal {
    background-color: #eef3f4;
    width: 250px;
    height: 100%;
    /* position: absolute; */
    /* top: 0; */
    /* right: -255px; */
    /* transition: 0.5s; */
    animation: menu_move ease 0.5s;
}

.personal_titles>p,
.personal_item {
    color: rgba(0, 0, 0, 0.616)
}

.menu_personal_list {
    height: 80%;
}

.menu_personal_list a {
    display: block;
    transition: 0.2s;

}

.menu_personal_list a:hover {
    border-left: 2px solid red;
    /* opacity: 1; */
    /* transform: scaleX(2); */
}

.menu_personal_list a {
    /* transition: transform 367ms cubic-bezier(.21, 0, .07, 1);
    opacity: 0; */

}

.personal_item:hover i,
.personal_item:hover {
    color: rgb(255, 111, 0);
    letter-spacing: 2px;

}


.personal_item i {
    color: black;
    margin-right: 20px;
    transition: 0.5s;
}

.menu_personal_avatar {}

.personal_avatar img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0 0 0);
}

.personal_avatar {
    margin: 20px 0;
    width: 30%;
}



.personal_titles {
    text-align: center;
}

.personal_titles h1 {
    color: rgb(255, 111, 0);
    font-size: 20px;
}

.personal_item_top,
.personal_item_mid,
.personal_item_bottom {
    margin-top: 20px;
    width: 100%;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.216); */
}

.personal_item_bottom {
    border: none;
}

.personal_item {
    width: 100%;
    height: 30px;
    margin-left: 46px;
    margin-bottom: 10px
}

/* menu_personal_button_left */
.button_close {
    position: absolute;
}

.button_close i {
    font-size: 22px;
    margin: 12px 0 0 12px;
    cursor: pointer;
}




/* ================responsive==================== */
/* .Tablet:width>740 width<1024 */
@media only screen and (min-width:740px) and (max-width:1024px) {}

/* .Mobile:width<742px */
@media only screen and (max-width:740px) {}