* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexcontent {
    justify-content: center;
}

.flexaligncenter {
    align-items: center;
}

.flexdirectioncolumn {
    flex-direction: column;
}

/* ==================== */
body {
    /* background: linear-gradient(270deg, #3e67f4, #b5defb); */
    background: linear-gradient(270deg, #563be8, #ba80cc);
}

.box_header,
p,
h1 {
    color: white;
    letter-spacing: 1px;

}

.header_banner {
    width: 70%;
}

.box_header h1 {
    letter-spacing: 15px !important;
    text-align: center;
}

.box_signin {
    background-color: #0a0f1b;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 14px;
    /* transform: translate(-50%, -50%);
    position: fixed; */
    /* top: 50%;
    left: 50%; */
    margin: 65px auto;
    overflow: hidden;
}

.box_info>div {
    margin-top: 20px
}

.box_header>i {
    color: #249bde;
    margin-right: 5px;
}

.box_header>p {
    font-size: 14px;

}

.type_text p {
    margin: 10px 0;
}

.type_text input {
    background-color: #0a0f1b;
    border: none !important;
    border-bottom: 1px solid white !important;
    font-size: 14px;
    padding: 0.5rem 3rem;
    color: white;
    outline: none;
}

.forgot {
    margin-left: 140px !important;
    margin-top: 20px !important;
    font-size: 14px !important;
}

.box_info button:first-child {
    /* margin-left: -45px; */
}

.box_info button {
    /* background: linear-gradient(270deg, #3f68f4, #b5ddfa); */
    background: linear-gradient(270deg, #3f68f4, #b97fcc);
    color: white;
    width: 140px;
    border-radius: 40px;
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
}

.box_info button:hover {

    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-6px);
}

.underline {
    border-bottom: 1px solid white;
    width: 90px;
    margin: 0 2px 4px 2px;
}

.google_img {
    width: 30px;
    margin: auto 0;
    /* margin-top:10px; */
    margin-right: 10px;

}

.google_img img {
    width: 100%;
}

.google p {
    font-size: 14px;
}

.box_info {
    width: 50%;
}

.create_account {
    padding-bottom: 10px;
}

.create_account a {
    opacity: 0.6;
    font-size: 14px;


}

/* box_titles */
.box_titles {
    width: 50%;
    overflow: hidden;

    position: relative;
}

.box_titles img {
    width: 100%;
    /* position: absolute; */
    transform: scale(2.6);
}

.title {
    position: absolute;
    color: white;
    width: 100%;
    top: 20%;
    left: 5%;
}

.play {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 2%;
}

.play i {
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    /* margin-top: 14px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.pause {
    z-index: 19;
    position: absolute;
    top: 50%;
    left: 2%;
}

.pause i {
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    /* margin-top: 14px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.box_titles video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100%;

    transform: translate(-196px, 0);
    /* visibility: hidden; */
    scale: 1.4;
}

.activevideo {
    visibility: visible !important;
}

/* responsive */
@media only screen and (min-width:740px) and (max-width:1024px) {
    .box_signin {
        width: 90%;
    }

    .box_titles img {

        transform: scale(4.6);

    }
}

@media(max-width:742px) {
    .box_signin {
        flex-direction: column;
        width: 80%;
        margin: 20% auto
    }

    .box_info {
        width: 100%;
    }

    .box_titles {
        width: 100%;
    }

    .box_titles video {

        transform: translate(-38px, 0);
    }
}